<div class='validation-error'></div>
{{#if isProfileMode}}
  <div class='profile-item'>
    <div>{{text}}</div>
    <div class="profile-value">
      <input 
        class='{{className}}'
        placeholder='{{placeholder}}'
        type='{{type}}'
        name='{{name}}'
        value='{{value}}'
      >
    </div>
  </div>
{{else}}
  <div>
    <input 
      class='{{className}}'
      placeholder='{{placeholder}}'
      type='{{type}}'
      name='{{name}}'
      value='{{value}}'
    >
  </div>
{{/if}}


