<div class="back flex-wrapper">
    {{{backToChatsButton}}}
</div>
<div class="flex-wrapper profile-info">
    <div class="avatar-wrapper">
        {{{avatar}}}
        <div class="user-name">Name</div>
    </div>
    <div class="flex profile-fields">
        {{#if isProfileInfo}}
            {{{profileInfoItems}}}
        {{else if isChangePassword}}
            {{{changePassword}}}
        {{else}}
             {{{profileForm}}} 
        {{/if}}
    </div>
        <div class="flex">
            {{#if isProfileInfo}}
                {{{buttons}}}
            {{/if}}
        </div>
    
</div>
