{{{menuList}}}
{{{attachList}}}
<div class="chats-list">
    <div>
        {{{profileButton}}}
    </div>
    <div class="search-button-wrapper">
        {{{searchInput}}}
    </div>
    {{{chatItems}}}
    </div>
    <div class="chat-side">
        <div class="chat-menu">
            <div class="flex-row">
                <div class="menu-avatar">{{{avatar}}}</div>
                <div class="name">{{{name}}}</div>
            </div>
            {{{menuButton}}}
        </div>
        <div class="chat-dialog">
            <div class="dialog-time">{{{dialogTime}}}</div>
            {{{messages}}}
        </div>
        <div class="chat-message">
            <div>{{{attachmentButton}}}</div>
            <div class="message-input-wrapper">{{{messageInput}}}</div>
            <div>{{{sendMessageButton}}}</div>
        </div>
    </div>
</div>
